<sectcion class="block--dark ready">
    <div class="card testimonial">
          <div class="grid grid--1x2">
            <article>
              <h2 class="ready__header">Ready To Get Started?</h2>
            <p>Choose the hosting provider that helps 
              you start easy, build fast, and grow strong! It’s risk-free with our 14-day money back guarantee.</p>
            </article>
            <button class="btn btn--secondary">GET STARTED</button>
          </div>
    </div>
  </sectcion>